body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px 20px 60px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: 40px;
  height: 40px;
}

.default-margin{
  padding: 25px 60px 20px 60px;
}

.footer-apis{
  padding-left: 60px;
}

.center-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-main-content div {
  max-width: 80%;
  margin: auto;
}

.justify-center {
  margin: 0;
  line-height: 1.5;
}

.btn-jogar {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #FFC94A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-jogar:hover {
  background-color: #ffbd21;
}
