body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px 20px 60px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: 40px;
  height: 40px;
}

.default-margin {
  padding: 25px 60px 20px 60px;
}

header,
footer {
  background-color: #f8f9fa;
  padding: 20px 60px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
}
.footer-apis {
  padding-left: 60px;
}

footer {
  margin-top: auto;
  background-color: #453f78;
  color: white;
  text-align: center;
}

.center-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.center-main-content div {
  max-width: 80%;
  margin: auto;
}

.justify-center {
  margin: 0;
  line-height: 1.5;
}

.btn-jogar:active {
  background-color: #ffbd21;
}

.btn-jogar:hover {
  background-color: #ffbd21;
}
