/* Container dos cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

/* Estilos básicos para o card */
.card {
  width: 298px;
  height: 500px;
  perspective: 1000px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 18.35px;
  border: 5px solid #453f78;
  transition: transform 0.6s ease-in-out;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover {
  border: 3px solid green;
  box-shadow: 0 8px 15px green, 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 1200px) {
  .card {
    width: 260px;
    height: 440px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 220px;
    height: 380px;
  }
}

@media (max-width: 576px) {
  .card {
    width: 180px;
    height: 320px;
  }
}

.game-info {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.balance-factor {
  margin-bottom: 20px;
}

.balance-factor p {
  font-size: 1.4rem; /* Aumenta o tamanho da fonte */
  margin: 10px 0;
}

.balance-factor span {
  font-weight: bold;
  color: #333;
}

.next-level {
  margin-bottom: 20px;
}

.next-level p {
  margin: 5px 0;
  color: #555;
}

.icon-gift {
  color: red;
  margin-left: 0.5rem;
}

.correct-answer {
  background-color: #00ff00;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.wrong-answer {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Estilos para o modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed; /* Fica fixo na tela */
  z-index: 1; /* Colocado à frente de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Largura total da tela */
  height: 100%; /* Altura total da tela */
  overflow: auto; /* Permite rolar o conteúdo se necessário */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

.modal-open {
  display: block; /* Exibe o modal */
}

/* Estilo para o conteúdo do modal */
.modal-content {
  background-color: #fff;
  margin: 5% auto; /* Centraliza o modal verticalmente */
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px; /* Limite máximo de largura */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  animation: modalopen 0.5s; /* Animação de abertura */
}

.modal-content input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.modal-content button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Animação de abertura do modal */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo do botão de fechar (x) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para o título principal */
.modal-content h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para o container de presente */
.gift-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.gift {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.gift h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.gift img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.gift p {
  font-size: 14px;
  line-height: 1.5;
}

/* Estilo para o botão de fechar */
#closeModalBtn {
  display: block;
  margin: 20px auto 0 auto;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#closeModalBtn:hover {
  background-color: #45a049;
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) {
  .modal-content {
    width: 95%; /* Reduz a largura em dispositivos móveis */
    margin: 10% auto; /* Ajusta a margem para centralizar */
    padding: 15px;
  }

  .gift-container {
    grid-template-columns: 1fr; /* Layout de uma coluna para dispositivos móveis */
  }
}
